# dependencies
node_modules/
.pnp/
.pnp.js

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/
.vitest/

# environment files

.env.*.local

# editor/IDE stuff
.vscode/
.idea/
.DS_Store

# system files
Thumbs.db
node_modules
node_modules/
